parallel_python_processing/adf_pipeline.json
{
    "name": "parallelprocessing",
    "properties": {
        "activities": [
            {
                "name": "callservicebusapi",
                "description": "",
                "type": "WebActivity",
                "dependsOn": [],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "url": "https://management.azure.com/subscriptions/0e9bace8-7a81-4922-83b5-d995ff706507/resourceGroups/azureml/providers/Microsoft.ServiceBus/namespaces/amlservibus/queues/landing?api-version=2017-04-01",
                    "method": "GET",
                    "authentication": {
                        "type": "MSI",
                        "resource": "https://management.azure.com/"
                    }
                }
            },
            {
                "name": "Machine Learning Batch Scoring Pipeline",
                "type": "AzureMLExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "callservicebusapi",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "mlPipelineId": "51a8e47c-7039-4f6b-a335-0330a72f06eb",
                    "experimentName": "preprocessing_example",
                    "mlPipelineParameters": {
                        "queue_length": {
                            "value": "@activity('callservicebusapi').output.properties.countDetails.activeMessageCount",
                            "type": "Expression"
                        },
                        "num_node": {
                            "value": "@int(div(activity('callservicebusapi').output.properties.countDetails.activeMessageCount,9))",
                            "type": "Expression"
                        },
                        "core_per_node": "3",
                        "preprocess_batch_size_param": "1",
                        "process_count_param": "3"
                    }
                },
                "linkedServiceName": {
                    "referenceName": "amlws01ent",
                    "type": "LinkedServiceReference"
                }
            }
        ],
        "annotations": [],
        "lastPublishTime": "2020-08-07T18:55:32Z"
    },
    "type": "Microsoft.DataFactory/factories/pipelines"
}